mixin contact-list(o)
  -
    o = o || {};
    o.contacts = o.contacts || [];

  .contact-list
    each c in o.contacts
      .contact-list__contact
        .contact-list__header=c.header
        if (c.href)
          a.contact-list__content.contact-list__content_a(
            href=c.href,
            target=c.www ? "_blank" : undefined,
            rel=c.www ? "noopener noreferrer" : undefined
          )=c.content
        else
          .contact-list__content=c.content
