mixin contact-list(options)
  -
    options = options || {};
    options.contacts = options.contacts || [];

  .contact-list
    each contact in options.contacts
      .contact-list__contact
        .contact-list__header=contact.header
        if (contact.href)
          a.contact-list__content.contact-list__content_a(
            href=contact.href,
            target=contact.www ? "_blank" : undefined,
            rel=contact.www ? "noopener noreferrer" : undefined
          )=contact.content
        else
          .contact-list__content=contact.content
